html {
	/* Convert 1rem from 16px to 10px */
	font-size: 62.5%;
}

body {
	@include typo-base-font();
	@include typo-default(1.6rem);
	background: $snow;
}

a {
	@include typo-default(1.4rem, $semibold, $info);
}

button {
	border: none;
}
