@import '../../styles/partials/typography';
@import '../../styles/partials/colors';

.headerArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .editSection{
        display:flex;
        flex-direction: row;

        #edit{
            color: $warning;
            cursor: pointer;
            margin-left:5px;
            margin-right: 5px;
            font-weight: $bold;
            padding-top:3px;
        }

        #archive{
            color: $failure;
            cursor: pointer;
            margin-left:5px;
            margin-right: 5px;
            font-weight: $bold;
        }
        
    }
}